/* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* this is where my style begins */

body {
    background: wheat;
}

/* remove all hyperlink text design from all a tags */
a {
    text-decoration: none;
    color: black;
}

/* add css animation to hover over button, inverting colors */
a:hover {
    background-color: black;
    color: white;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1%;
}

header .name {
    font-size: 3rem;
    font-family: 'Amatic SC', cursive;
}

header nav a {
    border: .1rem solid black;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5rem;
}

#about { 
    display: flex; 
    justify-content: center;
    position: relative;
}

/* flex-box and position to get text and button on top of image, made image translucent to see it better*/
#about img {
    width: 65%;
    height: auto;
    opacity: 0.75;
    margin: 1.5%;
}

#about .header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Amatic SC', cursive;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-text a {
    border: 1px solid black;
    background-color: white;
    font-size: 2rem;
}

.header-text a:hover {
    background-color: black;
    color: white;
}

#projects {
    display: flex;
    flex-wrap: wrap;   
    justify-content: space-evenly;
}

#projects div {
    width: 20%;
    margin: 3%;
    font-size: 1.5rem;
    font-family: 'Pompiere', cursive;
    text-align: center;
}

#projects div img {
    width: 100%;
    height: auto;
}

#projects div p {
    font-size: 1rem;
}

footer {
    background-color: white;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Amatic SC', cursive;
}

/* matched the footer button to the header button style */
footer a {
    font-size: 3.5rem;
    border: .2rem solid black
}

/* @media(max-width: 800px){

} */


